#!/bin/bash

set -eufo pipefail

# Switch to zsh in a way that supports our supported OS and distros.
shell_path="$(which zsh)"

if ! grep -q "${shell_path}" /etc/shells; then
  echo "${shell_path}" | sudo tee -a /etc/shells 1>/dev/null
fi

[ "${SHELL: -3}" != "zsh" ] && chsh -s "${shell_path}"
