#!/bin/bash
source {{ .chezmoi.sourceDir }}/misc/.helper.sh

set -eufo pipefail

# Switch to zsh in a way that supports our supported OS and distros.
shell_path="$(find_app zsh)"

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
    {{ $sudo = "" -}}
{{ end -}}

if ! grep -q "$shell_path" /etc/shells; then
  echo "${shell_path}" | {{ $sudo }}tee -a /etc/shells 1>/dev/null
fi

if [ "${SHELL: -3}" != "zsh" ]; then
	chsh -s "${shell_path}"
fi

{{ if lookPath "zsh" -}}
	source {{ .chezmoi.homeDir }}/.zshrc
{{ end -}}
