#!/bin/bash
source {{ .chezmoi.sourceDir }}/misc/.helper.sh

set -eufo pipefail

# Switch to zsh in a way that supports our supported OS and distros.
find_app zsh

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
    {{ $sudo = "" -}}
{{ end -}}

if ! grep -q "$ZSH_PATH" /etc/shells; then
  echo "${ZSH_PATH}" | {{ $sudo }}tee -a /etc/shells 1>/dev/null
fi

if [ "${SHELL: -3}" != "zsh" ]; then
	chsh -s "${ZSH_PATH}"
fi
