theme = tokyonight

background-opacity = 0.7
background-blur-radius = 15

font-size = 15

cursor-color = #9ece6a
cursor-style = block
cursor-style-blink = true

mouse-hide-while-typing = true

window-subtitle = working-directory

window-decoration = auto
window-padding-x = 5
window-padding-y = 5
window-padding-balance = true

macos-non-native-fullscreen = visible-menu

macos-titlebar-style = transparent
macos-titlebar-proxy-icon = hidden
macos-auto-secure-input = true
macos-secure-input-indication = true

auto-update = check

shell-integration-features = no-cursor
copy-on-select = clipboard

keybind = super+i=inspector:toggle
keybind = global:super+§=toggle_quick_terminal

{{ if lookPath "fzf" -}}
keybind = super+r=text:\x12
{{	if lookPath "bat" -}}
keybind = super+t=text:\x14
{{	end -}}

{{ 	if lookPath "tree" -}}
keybind = alt+c=text:\x1bc
{{	end -}}
{{ end -}}
