{{- if lookPath "bat" }}
alias cat=bat
{{- else if lookPath "batcat" }}
alias cat=batcat
{{- end }}
{{- if lookPath "fdfind" }}
alias fd=fdfind
{{- end }}
{{- if lookPath "eza" }}
alias ls=eza
{{- end }}

# ------------------------------------------------------------------------------
# Git
# ------------------------------------------------------------------------------
alias ga='git add'
alias gap='git add --patch'
alias gf='git fetch'
alias gs='git status --short'
alias gu='git pull'
alias gd='git diff'
alias gl='git log --graph --max-count=5 --decorate --pretty="oneline"'
alias gp='git push'
alias gc='git commit -m'
# fzf
{{ if lookPath "fzf" -}}
alias gafzf='git ls-files -m -o --exclude-standard | grep -v "__pycache__" | fzf -m --print0 | xargs -0 -o -t git add' # Git add with fzf
alias grmfzf='git ls-files -m -o --exclude-standard | fzf -m --print0 | xargs -0 -o -t git rm' # Git rm with fzf
alias grfzf='git diff --name-only | fzf -m --print0 | xargs -0 -o -t git restore' # Git restore with fzf
alias grsfzf='git diff --name-only | fzf -m --print0 | xargs -0 -o -t git restore --staged' # Git restore --staged with fzf
alias gcofzf='git branch | fzf | xargs git checkout' # Select branch with fzf
{{ end -}}
