{{ if and (eq .osid "linux-debian" "linux-raspbian" "linux-ubuntu") -}}

{{ $packages := list
     "git"
     "git-lfs"
     "openssh-server"
     "wget"
     "7zip"
     "poppler-utils"
-}}
{{ $snaps := list -}}
{{ $classicSnaps := list -}}

{{ if not .homebrewSupported }}
     {{ $packages = concat $packages (list
          "age"
          "bat"
          "btop"
          "curl"
          "fd-find"
          "fzf"
          "jq"
          "ripgrep"
          "tmux"
          "ffmpeg"
          "zoxide"
          "imagemagick"
          "oh-my-posh"
          "zsh"
          "neovim"
     )}}
{{ end -}}

{{ if .kvm -}}
	{{ $packages = mustAppend $packages "qemu-guest-agent" -}}
{{ end -}}

{{ if .dockerSupported -}}
	{{ $packages = mustAppend $packages "docker-compose" -}}
{{ end -}}

{{ if eq .osid "linux-ubuntu" -}}
{{   $packages = mustAppend $packages "btop" -}}
{{ end -}}


{{ if not .headless -}}
{{   $packages = concat $packages (list "fonts-jetbrains-mono" "xclip")-}}
{{   $classicSnaps = mustAppend $classicSnaps "code" -}}
{{ end -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/bin/bash

set -eufo pipefail

{{ $sudo }}apt update
{{ $sudo }}apt install -y {{ $packages | join " " }}

{{ if lookPath "snap" }}
{{   range $snaps }}
( snap info {{ . }} | grep -q ^installed: ) || {{ $sudo }}snap install {{ . }}
{{   end }}
{{   range $classicSnaps }}
( snap info {{ . }} | grep -q ^installed: ) || {{ $sudo }}snap install --classic {{ . }}
{{   end }}
{{ end }}

{{ end -}}
