#!/bin/bash
source {{ .chezmoi.sourceDir }}/misc/.helper.sh

set -eufo pipefail

{{- $taps := list
-}}

{{ $brews := list
 	"age"
    "bat"
    "btop"
    "eza"
    "fd"
    "fzf"
    "ripgrep"
    "tmux"
    "lazygit"
    "oh-my-posh"
    "zsh"
	"zoxide"
-}}
{{ if eq .chezmoi.os "darwin" -}}
	{{ $brews = concat $brews (list "mas" "ffmpeg" "git" "git-lfs" "gnu-units" "gnupg" "neovim" "luarocks") }}
{{ end -}}

{{ if .dockerSupported -}}
	{{ $brews = concat $brews (list "docker" "docker-compose") }}
{{ end -}}

{{ if .neovimSupported -}}
	{{ $brews = concat $brews (list "neovim") }}
{{ end -}}

{{ $casks := list }}
{{ if and (not .ephemeral) (not .headless) -}}
	{{ $casks = concat $casks (list "ghostty" "zed") -}}
{{ end -}}
{{ if eq .chezmoi.os "darwin" -}}
	{{ $casks = mustAppend $casks "raycast" -}}
{{ end -}}

export BREW_PATH=$(find_app "brew")
export PATH=$PATH:"${BREW_PATH%/brew}"

export HOMEBREW_NO_AUTO_UPDATE=1

brew bundle --file=/dev/stdin <<EOF
{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end -}}
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
