#!/bin/bash

set -eufo pipefail

{{ $brews := list
 	"age"
    "bat"
    "btop"
    "eza"
    "fd"
    "fzf"
    "git"
    "git-lfs"
    "gnu-units"
    "gnupg"
    "jq"
    "ripgrep"
    "tmux"
    "lazygit"
    "ffmpeg"
    "neovim"
    "oh-my-posh"
    "zsh"
-}}
{{ if eq .chezmoi.os "darwin" -}}
	{{ $brews = mustAppend $brew "mas" }}
{{ end -}}

{{ $casks := list }}
{{ if and (not .ephemeral) (not .headless) -}}
	{{ $casks = concat $casks (list "ghostty" "zed") -}}
{{ end -}}
{{ if eq .chezmoi.os "darwin" -}}
	{{ $casks = mustAppend $casks "raycast" -}}
{{ end -}}

eval "$(/opt/homebrew/bin/brew shellenv)"
brew bundle --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
