#!/bin/bash
source {{ .chezmoi.sourceDir }}/misc/.helper.sh

set -eufo pipefail

{{ $brews := list
 	"age"
    "bat"
    "btop"
    "eza"
    "fd"
    "fzf"
    "ripgrep"
    "tmux"
    "lazygit"
    "neovim"
    "oh-my-posh"
    "zsh"
-}}
{{ if eq .chezmoi.os "darwin" -}}
	{{ $brews = concat $brews (list "mas" "ffmpeg" "git" "git-lfs" "gnu-units" "gnupg") }}
{{ end -}}

{{ if .dockerSupported -}}
	{{ $brews = concat $brews (list "docker" "docker-compose") }}
{{ end -}}

{{ $casks := list }}
{{ if and (not .ephemeral) (not .headless) -}}
	{{ $casks = concat $casks (list "ghostty" "zed") -}}
{{ end -}}
{{ if eq .chezmoi.os "darwin" -}}
	{{ $casks = mustAppend $casks "raycast" -}}
{{ end -}}

BREW_PATH=$(find_app "brew")

export HOMEBREW_NO_AUTO_UPDATE=1
$BREW_PATH bundle --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
